.drag-editable-table {
  .ant-table  {
    border: 1px solid #f0f0f0;
    border-bottom: none;
  }

  :where(.css-dev-only-do-not-override-2i2tap).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: var(--main-color, #1a71ff);
  }
  .add-new-row-btn {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(42, 46, 54, 0.02);
    border-style: dashed;
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
    margin: 10px 0;
    color: var(--main-color, #1a71ff);
  }

  .ant-table-thead > tr > th:before,
  .ant-table-thead > tr > td:before {
    display: none;
  }

  :where(.css-dev-only-do-not-override-2i2tap).ant-table-wrapper .ant-table-tbody>tr>td.sort-column {
    padding-left: 0;
  }

  .errorTip {
    color: var(--color-error);
  }
}
